:root{
    --fundo:#ADD8E6;
    --cartão-frente:#87CEEB;
    --cartao-verso:#0000CD;
    --destaque:#1E90FF;
    --preto: #000000;
    --branco:#ffffff;

}
body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    padding: 4rem;
    
}